<div class="project">
    <div class="actions">
        <nav>
            <a href="{{repoUrl}}">Code</a>
            {{#if homepage}}
                <a href="{{homepage}}">Homepage</a>
            {{/if}}
        </nav>
    </div>

    <a href="{{repoUrl}}" class="details">
        <h4 class="title">
            {{#if isOwner}}
                {{name}}
            {{/if}}
            {{#unless isOwner}}
                {{fullName}}
            {{/unless}}
        </h4>
        <p>
            {{description}}
        </p>
    </a>
</div>
