<div className="project">
    <div className="actions">
        <nav>
            <a href="{{repoUrl}}">Code</a>
            <a href="{{homepage}}">Homepage</a>
        </nav>
    </div>

    <a href="{{repoUrl}}" className="details">
    <h4 className="title">
        {{#if isOwner}}
            {{name}}
        {{/if}}
        {{#unless isOwner}}
            {{fullName}}
        {{/unless}}
    </h4>
    <p>
        {{description}}
    </p>
    </a>
</div>
